@font-face {
  font-family: "SP-Iconfont";
  src: url("fonts/SP-Iconfont.ttf?pfaccg") format("truetype"), url("fonts/SP-Iconfont.woff?pfaccg") format("woff"), url("fonts/SP-Iconfont.svg?pfaccg#SP-Iconfont") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "SP-Iconfont" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-account_circle::before {
  content: "\e900";
}

.icon-add_image::before {
  content: "\e901";
}

.icon-adsense .path1::before {
  content: "\e902";
  color: rgb(251, 188, 4);
}

.icon-adsense .path2::before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(52, 168, 83);
}

.icon-adsense .path3::before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(66, 133, 244);
}

.icon-all_caps::before {
  content: "\e905";
}

.icon-api::before {
  content: "\e906";
}

.icon-arrow_left::before {
  content: "\e907";
}

.icon-arrow_preview::before {
  content: "\e908";
}

.icon-arrow_right::before {
  content: "\e909";
}

.icon-arrow-down::before {
  content: "\e90a";
}

.icon-arrow-up::before {
  content: "\e90b";
}

.icon-article::before {
  content: "\e90c";
}

.icon-attachment::before {
  content: "\e90d";
}

.icon-billing::before {
  content: "\e90e";
}

.icon-bookmark::before {
  content: "\e90f";
}

.icon-boolean::before {
  content: "\e910";
}

.icon-calendar-done::before {
  content: "\e911";
}

.icon-calendar::before {
  content: "\e912";
}

.icon-check::before {
  content: "\e913";
}

.icon-chevron_down::before {
  content: "\e914";
}

.icon-chevron_left::before {
  content: "\e915";
}

.icon-chevron_right::before {
  content: "\e916";
}

.icon-chevron_up::before {
  content: "\e917";
}

.icon-circle-cancel::before {
  content: "\e918";
}

.icon-circle-tick::before {
  content: "\e919";
}

.icon-clipboard-tick::before {
  content: "\e91a";
}

.icon-clock::before {
  content: "\e91b";
}

.icon-Code-Injection::before {
  content: "\e91c";
}

.icon-code_injection::before {
  content: "\e91c";
}

.icon-code_2::before {
  content: "\e91d";
}

.icon-code::before {
  content: "\e91e";
}

.icon-codepen::before {
  content: "\e91f";
}

.icon-color::before {
  content: "\e920";
}

.icon-comment::before {
  content: "\e921";
}

.icon-copy::before {
  content: "\e922";
}

.icon-cross_thin-2::before {
  content: "\e923";
}

.icon-cross_thin::before {
  content: "\e924";
}

.icon-cross::before {
  content: "\e925";
}

.icon-database::before {
  content: "\e926";
}

.icon-delete::before {
  content: "\e927";
}

.icon-desk::before {
  content: "\e928";
}

.icon-desktop::before {
  content: "\e929";
}

.icon-disqus::before {
  content: "\e92a";
  color: #2e9fff;
}

.icon-divider::before {
  content: "\e92b";
}

.icon-dots_horizontal::before {
  content: "\e92c";
}

.icon-dots_vertical::before {
  content: "\e92d";
}

.icon-down_arrow::before {
  content: "\e92e";
}

.icon-draft::before {
  content: "\e92f";
}

.icon-drag-handle::before {
  content: "\e930";
}

.icon-edit_meta::before {
  content: "\e931";
}

.icon-email::before {
  content: "\e932";
}

.icon-facebook-f::before {
  content: "\e933";
  color: #3c5a9a;
}

.icon-facebook::before {
  content: "\e934";
  color: #1977f3;
}

.icon-file::before {
  content: "\e935";
}

.icon-filter::before {
  content: "\e936";
}

.icon-flag::before {
  content: "\e937";
}

.icon-focal_point::before {
  content: "\e938";
}

.icon-focus-2::before {
  content: "\e939";
}

.icon-focus::before {
  content: "\e93a";
}

.icon-folder::before {
  content: "\e93b";
}

.icon-font::before {
  content: "\e93c";
}

.icon-for_review::before {
  content: "\e93d";
}

.icon-format_align_center::before {
  content: "\e93e";
}

.icon-format_align_left::before {
  content: "\e93f";
}

.icon-format_align_right::before {
  content: "\e940";
}

.icon-format_align_stretch::before {
  content: "\e941";
}

.icon-format_bold::before {
  content: "\e942";
}

.icon-format_italics::before {
  content: "\e943";
}

.icon-format_line_spacing::before {
  content: "\e944";
}

.icon-format_underline::before {
  content: "\e945";
}

.icon-fountain_pen_tip::before {
  content: "\e946";
}

.icon-gallery::before {
  content: "\e947";
}

.icon-github::before {
  content: "\e948";
}

.icon-google_analytics .path1::before {
  content: "\e949";
  color: rgb(249, 171, 0);
}

.icon-google_analytics .path2::before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(227, 116, 0);
}

.icon-google_analytics .path3::before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(227, 116, 0);
}

.icon-google .path1::before {
  content: "\e94c";
  color: rgb(66, 133, 244);
}

.icon-google .path2::before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(52, 168, 83);
}

.icon-google .path3::before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(251, 188, 5);
}

.icon-google .path4::before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(234, 67, 53);
}

.icon-goto-url::before {
  content: "\e950";
}

.icon-graphql::before {
  content: "\e951";
  color: #e535ab;
}

.icon-H1::before {
  content: "\e952";
}

.icon-H2::before {
  content: "\e953";
}

.icon-H3::before {
  content: "\e954";
}

.icon-hamburger::before {
  content: "\e955";
}

.icon-history::before {
  content: "\e956";
}

.icon-home::before {
  content: "\e957";
}

.icon-html_embed::before {
  content: "\e958";
}

.icon-image::before {
  content: "\e959";
}

.icon-infinity::before {
  content: "\e95a";
}

.icon-info::before {
  content: "\e95b";
}

.icon-instagram::before {
  content: "\e95c";
}

.icon-integrations::before {
  content: "\e95d";
}

.icon-internet::before {
  content: "\e95e";
}

.icon-justify_expand::before {
  content: "\e95f";
}

.icon-justify_fill::before {
  content: "\e960";
}

.icon-justify_fit::before {
  content: "\e961";
}

.icon-lego::before {
  content: "\e962";
}

.icon-light-bulb::before {
  content: "\e963";
}

.icon-lightning::before {
  content: "\e964";
}

.icon-link_break::before {
  content: "\e965";
}

.icon-link_variant::before {
  content: "\e966";
}

.icon-linkedin::before {
  content: "\e967";
  color: #0077b7;
}

.icon-list_bullet::before {
  content: "\e968";
}

.icon-list_number::before {
  content: "\e969";
}

.icon-lock-filled::before {
  content: "\e96a";
}

.icon-lock::before {
  content: "\e96b";
}

.icon-logomark_L .path1::before {
  content: "\e96c";
  color: rgb(255, 76, 76);
}

.icon-logomark_L .path2::before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(46, 83, 194);
}

.icon-logomark_L .path3::before {
  content: "\e96e";
  margin-left: -1em;
  color: rgb(255, 181, 0);
}

.icon-logomark_s .path1::before {
  content: "\e96f";
  color: rgb(255, 76, 76);
}

.icon-logomark_s .path2::before {
  content: "\e970";
  margin-left: -1em;
  color: rgb(46, 83, 194);
}

.icon-logomark_s .path3::before {
  content: "\e971";
  margin-left: -1em;
  color: rgb(255, 181, 0);
}

.icon-logout::before {
  content: "\e972";
}

.icon-lower_caps::before {
  content: "\e973";
}

.icon-magic-2::before {
  content: "\e974";
}

.icon-magic::before {
  content: "\e975";
}

.icon-magnify::before {
  content: "\e976";
}

.icon-mailchimp::before {
  content: "\e977";
}

.icon-medium::before {
  content: "\e978";
}

.icon-minus_circle_outline::before {
  content: "\e979";
}

.icon-minus_circle::before {
  content: "\e97a";
}

.icon-mobile::before {
  content: "\e97b";
}

.icon-note::before {
  content: "\e97c";
}

.icon-number::before {
  content: "\e97d";
}

.icon-page_colour::before {
  content: "\e97e";
  color: var(--indicator-color, #fff);
}
.icon-page_colour::after {
  content: "\e97f";
  margin-left: -1em;
  color: rgb(82, 82, 82);
}

.icon-page_elements::before {
  content: "\e980";
}

.icon-pen::before {
  content: "\e981";
}

.icon-pinterest::before {
  content: "\e982";
  color: #bd081c;
}

.icon-plus_circle_outline::before {
  content: "\e983";
}

.icon-plus_circle::before {
  content: "\e984";
}

.icon-plus::before {
  content: "\e985";
}

.icon-preview::before {
  content: "\e986";
}

.icon-publication::before {
  content: "\e987";
}

.icon-publications::before {
  content: "\e988";
}

.icon-published::before {
  content: "\e989";
}

.icon-question-mark-inverse::before {
  content: "\e98a";
}

.icon-question-mark::before {
  content: "\e98b";
}

.icon-quote::before {
  content: "\e98c";
}

.icon-reddit::before {
  content: "\e98d";
  color: #ff4500;
}

.icon-redo::before {
  content: "\e98e";
}

.icon-refresh::before {
  content: "\e98f";
}

.icon-return::before {
  content: "\e990";
}

.icon-rocket::before {
  content: "\e991";
}

.icon-sad::before {
  content: "\e992";
}

.icon-saving::before {
  content: "\e993";
  color: rgb(241, 241, 241);
}
.icon-saving::after {
  content: "\e994";
  margin-left: -1em;
  color: rgb(127, 127, 127);
}

.icon-schedule::before {
  content: "\e995";
}

.icon-selector::before {
  content: "\e996";
}

.icon-SEO::before {
  content: "\e997";
}

.icon-settings-2::before {
  content: "\e998";
}

.icon-settings::before {
  content: "\e999";
}

.icon-share::before {
  content: "\e99a";
}

.icon-shopify .path1::before {
  content: "\e99b";
  color: rgb(149, 191, 71);
}

.icon-shopify .path2::before {
  content: "\e99c";
  margin-left: -1em;
  color: rgb(94, 142, 62);
}

.icon-shopify .path3::before {
  content: "\e99d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.icon-slack .path1::before {
  content: "\e99e";
  color: rgb(224, 30, 90);
}

.icon-slack .path2::before {
  content: "\e99f";
  margin-left: -1em;
  color: rgb(54, 197, 240);
}

.icon-slack .path3::before {
  content: "\e9a0";
  margin-left: -1em;
  color: rgb(46, 182, 125);
}

.icon-slack .path4::before {
  content: "\e9a1";
  margin-left: -1em;
  color: rgb(236, 178, 46);
}

.icon-sort::before {
  content: "\e9a2";
}

.icon-soundcloud::before {
  content: "\e9a3";
}

.icon-speech::before {
  content: "\e9a4";
}

.icon-spotify::before {
  content: "\e9a5";
  color: #1ed760;
}

.icon-sprout-grow::before {
  content: "\e9a6";
}

.icon-star_outline::before {
  content: "\e9a7";
}

.icon-star::before {
  content: "\e9a8";
}

.icon-steps::before {
  content: "\e9a9";
}

.icon-strikethrough::before {
  content: "\e9aa";
}

.icon-svg::before {
  content: "\e9ab";
}

.icon-swap-replace::before {
  content: "\e9ac";
}

.icon-table_of_contents .path1::before {
  content: "\e9b4";
  color: rgb(229, 229, 229);
}

.icon-table_of_contents .path2::before {
  content: "\e9b5";
  margin-left: -1em;
  color: rgb(229, 229, 229);
}

.icon-table_of_contents .path3::before {
  content: "\e9b6";
  margin-left: -1em;
  color: rgb(7, 29, 52);
}

.icon-table_of_contents .path4::before {
  content: "\e9b7";
  margin-left: -1em;
  color: rgb(7, 29, 52);
}

.icon-table_of_contents .path5::before {
  content: "\e9b8";
  margin-left: -1em;
  color: rgb(229, 229, 229);
}

.icon-table_of_contents .path6::before {
  content: "\e9b9";
  margin-left: -1em;
  color: rgb(229, 229, 229);
}

.icon-table_of_contents .path7::before {
  content: "\e9ba";
  margin-left: -1em;
  color: rgb(7, 29, 52);
}

.icon-table-of-contents .path1::before {
  content: "\e9b4";
  color: rgb(229, 229, 229);
}

.icon-table-of-contents .path2::before {
  content: "\e9b5";
  margin-left: -1em;
  color: rgb(229, 229, 229);
}

.icon-table-of-contents .path3::before {
  content: "\e9b6";
  margin-left: -1em;
  color: rgb(7, 29, 52);
}

.icon-table-of-contents .path4::before {
  content: "\e9b7";
  margin-left: -1em;
  color: rgb(7, 29, 52);
}

.icon-table-of-contents .path5::before {
  content: "\e9b8";
  margin-left: -1em;
  color: rgb(229, 229, 229);
}

.icon-table-of-contents .path6::before {
  content: "\e9b9";
  margin-left: -1em;
  color: rgb(229, 229, 229);
}

.icon-table-of-contents .path7::before {
  content: "\e9ba";
  margin-left: -1em;
  color: rgb(7, 29, 52);
}

.icon-tablet::before {
  content: "\e9bb";
}

.icon-tag::before {
  content: "\e9bc";
}

.icon-team::before {
  content: "\e9bd";
}

.icon-templates::before {
  content: "\e9be";
}

.icon-termly::before {
  content: "\e9bf";
  color: #4672ff;
}

.icon-text_2::before {
  content: "\e9c0";
}

.icon-text_colour::before {
  content: "\e9c1";
  color: rgb(76, 76, 76);
}
.icon-text_colour::after {
  content: "\e9c2";
  margin-left: -1em;
  color: var(--indicator-color, #fff);
}

.icon-text_hover_colour::before {
  content: "\e9c3";
  color: rgb(82, 82, 82);
}
.icon-text_hover_colour::after {
  content: "\e9c4";
  margin-left: -1em;
  color: var(--indicator-color, #fff);
}

.icon-text::before {
  content: "\e9c5";
}

.icon-theme-2::before {
  content: "\e9c6";
}

.icon-theme::before {
  content: "\e9c7";
}

.icon-tick_circle::before {
  content: "\e9c8";
  color: #047857;
}

.icon-tick-badge::before {
  content: "\e9c9";
}

.icon-tick::before {
  content: "\e9ca";
}

.icon-twitter::before {
  content: "\e9cb";
  color: #55acee;
}

.icon-undo::before {
  content: "\e9cc";
}

.icon-unsplash::before {
  content: "\e9cd";
}

.icon-up_arrow::before {
  content: "\e9ce";
}

.icon-upload::before {
  content: "\e9cf";
}

.icon-user::before {
  content: "\e9d0";
}

.icon-users::before {
  content: "\e9d1";
}

.icon-vimeo::before {
  content: "\e9d2";
  color: #4bf;
}

.icon-warning::before {
  content: "\e9d3";
}

.icon-web::before {
  content: "\e9d4";
}

.icon-webflow .path1::before {
  content: "\e9d5";
  color: rgb(67, 83, 255);
}

.icon-webflow .path2::before {
  content: "\e9d6";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.icon-whatsapp::before {
  content: "\e9d7";
  color: #27cb42;
}

.icon-youtube::before {
  content: "\e9d8";
  color: #f00;
}

.icon-zapier::before {
  content: "\e9d9";
  color: #ff4a00;
}

/*# sourceMappingURL=style.css.map */
