$icomoon-font-family: "SP-Iconfont" !default;
$icomoon-font-path: "fonts" !default;

$icon-account_circle: "\e900";
$icon-add_image: "\e901";
$icon-adsense-path1: "\e902";
$icon-adsense-path2: "\e903";
$icon-adsense-path3: "\e904";
$icon-all_caps: "\e905";
$icon-api: "\e906";
$icon-arrow_left: "\e907";
$icon-arrow_preview: "\e908";
$icon-arrow_right: "\e909";
$icon-arrow-down: "\e90a";
$icon-arrow-up: "\e90b";
$icon-article: "\e90c";
$icon-attachment: "\e90d";
$icon-billing: "\e90e";
$icon-bookmark: "\e90f";
$icon-boolean: "\e910";
$icon-calendar-done: "\e911";
$icon-calendar: "\e912";
$icon-check: "\e913";
$icon-chevron_down: "\e914";
$icon-chevron_left: "\e915";
$icon-chevron_right: "\e916";
$icon-chevron_up: "\e917";
$icon-circle-cancel: "\e918";
$icon-circle-tick: "\e919";
$icon-clipboard-tick: "\e91a";
$icon-clock: "\e91b";
$icon-Code-Injection: "\e91c";
$icon-code_2: "\e91d";
$icon-code: "\e91e";
$icon-codepen: "\e91f";
$icon-color: "\e920";
$icon-comment: "\e921";
$icon-copy: "\e922";
$icon-cross_thin-2: "\e923";
$icon-cross_thin: "\e924";
$icon-cross: "\e925";
$icon-database: "\e926";
$icon-delete: "\e927";
$icon-desk: "\e928";
$icon-desktop: "\e929";
$icon-disqus: "\e92a";
$icon-divider: "\e92b";
$icon-dots_horizontal: "\e92c";
$icon-dots_vertical: "\e92d";
$icon-down_arrow: "\e92e";
$icon-draft: "\e92f";
$icon-drag-handle: "\e930";
$icon-edit_meta: "\e931";
$icon-email: "\e932";
$icon-facebook-f: "\e933";
$icon-facebook: "\e934";
$icon-file: "\e935";
$icon-filter: "\e936";
$icon-flag: "\e937";
$icon-focal_point: "\e938";
$icon-focus-2: "\e939";
$icon-focus: "\e93a";
$icon-folder: "\e93b";
$icon-font: "\e93c";
$icon-for_review: "\e93d";
$icon-format_align_center: "\e93e";
$icon-format_align_left: "\e93f";
$icon-format_align_right: "\e940";
$icon-format_align_stretch: "\e941";
$icon-format_bold: "\e942";
$icon-format_italics: "\e943";
$icon-format_line_spacing: "\e944";
$icon-format_underline: "\e945";
$icon-fountain_pen_tip: "\e946";
$icon-gallery: "\e947";
$icon-github: "\e948";
$icon-google_analytics-path1: "\e949";
$icon-google_analytics-path2: "\e94a";
$icon-google_analytics-path3: "\e94b";
$icon-google-path1: "\e94c";
$icon-google-path2: "\e94d";
$icon-google-path3: "\e94e";
$icon-google-path4: "\e94f";
$icon-goto-url: "\e950";
$icon-graphql: "\e951";
$icon-H1: "\e952";
$icon-H2: "\e953";
$icon-H3: "\e954";
$icon-hamburger: "\e955";
$icon-history: "\e956";
$icon-home: "\e957";
$icon-html_embed: "\e958";
$icon-image: "\e959";
$icon-infinity: "\e95a";
$icon-info: "\e95b";
$icon-instagram: "\e95c";
$icon-integrations: "\e95d";
$icon-internet: "\e95e";
$icon-justify_expand: "\e95f";
$icon-justify_fill: "\e960";
$icon-justify_fit: "\e961";
$icon-lego: "\e962";
$icon-light-bulb: "\e963";
$icon-lightning: "\e964";
$icon-link_break: "\e965";
$icon-link_variant: "\e966";
$icon-linkedin: "\e967";
$icon-list_bullet: "\e968";
$icon-list_number: "\e969";
$icon-lock-filled: "\e96a";
$icon-lock: "\e96b";
$icon-logomark_L-path1: "\e96c";
$icon-logomark_L-path2: "\e96d";
$icon-logomark_L-path3: "\e96e";
$icon-logomark_s-path1: "\e96f";
$icon-logomark_s-path2: "\e970";
$icon-logomark_s-path3: "\e971";
$icon-logout: "\e972";
$icon-lower_caps: "\e973";
$icon-magic-2: "\e974";
$icon-magic: "\e975";
$icon-magnify: "\e976";
$icon-mailchimp: "\e977";
$icon-medium: "\e978";
$icon-minus_circle_outline: "\e979";
$icon-minus_circle: "\e97a";
$icon-mobile: "\e97b";
$icon-note: "\e97c";
$icon-number: "\e97d";
$icon-page_colour-path1: "\e97e";
$icon-page_colour-path2: "\e97f";
$icon-page_elements: "\e980";
$icon-pen: "\e981";
$icon-pinterest: "\e982";
$icon-plus_circle_outline: "\e983";
$icon-plus_circle: "\e984";
$icon-plus: "\e985";
$icon-preview: "\e986";
$icon-publication: "\e987";
$icon-publications: "\e988";
$icon-published: "\e989";
$icon-question-mark-inverse: "\e98a";
$icon-question-mark: "\e98b";
$icon-quote: "\e98c";
$icon-reddit: "\e98d";
$icon-redo: "\e98e";
$icon-refresh: "\e98f";
$icon-return: "\e990";
$icon-rocket: "\e991";
$icon-sad: "\e992";
$icon-saving-path1: "\e993";
$icon-saving-path2: "\e994";
$icon-schedule: "\e995";
$icon-selector: "\e996";
$icon-SEO: "\e997";
$icon-settings-2: "\e998";
$icon-settings: "\e999";
$icon-share: "\e99a";
$icon-shopify-path1: "\e99b";
$icon-shopify-path2: "\e99c";
$icon-shopify-path3: "\e99d";
$icon-slack-path1: "\e99e";
$icon-slack-path2: "\e99f";
$icon-slack-path3: "\e9a0";
$icon-slack-path4: "\e9a1";
$icon-sort: "\e9a2";
$icon-soundcloud: "\e9a3";
$icon-speech: "\e9a4";
$icon-spotify: "\e9a5";
$icon-sprout-grow: "\e9a6";
$icon-star_outline: "\e9a7";
$icon-star: "\e9a8";
$icon-steps: "\e9a9";
$icon-strikethrough: "\e9aa";
$icon-svg: "\e9ab";
$icon-swap-replace: "\e9ac";
$icon-table_of_contents-path1: "\e9ad";
$icon-table_of_contents-path2: "\e9ae";
$icon-table_of_contents-path3: "\e9af";
$icon-table_of_contents-path4: "\e9b0";
$icon-table_of_contents-path5: "\e9b1";
$icon-table_of_contents-path6: "\e9b2";
$icon-table_of_contents-path7: "\e9b3";
$icon-table-of-contents-path1: "\e9b4";
$icon-table-of-contents-path2: "\e9b5";
$icon-table-of-contents-path3: "\e9b6";
$icon-table-of-contents-path4: "\e9b7";
$icon-table-of-contents-path5: "\e9b8";
$icon-table-of-contents-path6: "\e9b9";
$icon-table-of-contents-path7: "\e9ba";
$icon-tablet: "\e9bb";
$icon-tag: "\e9bc";
$icon-team: "\e9bd";
$icon-templates: "\e9be";
$icon-termly: "\e9bf";
$icon-text_2: "\e9c0";
$icon-text_colour-path1: "\e9c1";
$icon-text_colour-path2: "\e9c2";
$icon-text_hover_colour-path1: "\e9c3";
$icon-text_hover_colour-path2: "\e9c4";
$icon-text: "\e9c5";
$icon-theme-2: "\e9c6";
$icon-theme: "\e9c7";
$icon-tick_circle: "\e9c8";
$icon-tick-badge: "\e9c9";
$icon-tick: "\e9ca";
$icon-twitter: "\e9cb";
$icon-undo: "\e9cc";
$icon-unsplash: "\e9cd";
$icon-up_arrow: "\e9ce";
$icon-upload: "\e9cf";
$icon-user: "\e9d0";
$icon-users: "\e9d1";
$icon-vimeo: "\e9d2";
$icon-warning: "\e9d3";
$icon-web: "\e9d4";
$icon-webflow-path1: "\e9d5";
$icon-webflow-path2: "\e9d6";
$icon-whatsapp: "\e9d7";
$icon-youtube: "\e9d8";
$icon-zapier: "\e9d9";

